<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBUyTe50R6rmIGDDUa40Nm302pJU8ohZg</string>
	<key>GCM_SENDER_ID</key>
	<string>222341033679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miempresa.OcampoSnapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-257ea</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-257ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222341033679:ios:632e131f73b2cb766391ba</string>
</dict>
</plist>